.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  background-color: rgb(241, 241, 241);
}

.content-box {
  min-height: 90vh;
}

.photo-box {
  background-image: url('https://user-images.githubusercontent.com/10540084/147864063-39f42fe3-a7ed-4407-a433-2856f2ece01e.jpg');
  background-size: cover;
  background-position: 0 0;
}

.photo-box h1 {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
  font-size: 20px;
}

.detail {
  margin: .25rem 0;
  font-style: italic;
}

.subtitle {
  margin: 0.1rem 0 1rem 0;
  font-style: normal;
}

@media only screen and (min-width: 700px) {
  .photo-box {
    background-position: 0 -350px;
  }

  .photo-box h1 {
    font-size: 30px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
